<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://connect.facebook.net/zh_TW/all.js"></script>
<script>
    $("#FBLogin").click(function () {
        FB.init({ appId: '413372678843979', status: true, cookie: true, xfbml: true });
        FB.login(function (response) {
            alert(response.status)
            alert("使用者UID:" + response.authResponse.userID + "\n" + "使用者accessToken:" + response.authResponse.accessToken);
            $('[name="accessToken"]').val(response.authResponse.accessToken);
            $('#sign').submit();
        }, { scope: "email" });
    });
</script>

@{
    ViewBag.Title = "首頁";
}
@section featured {
  
    <div id="fb-root"></div>
    <input id="FBLogin" type="button" value="登入臉書" />
    <label id="test"></label>

    @using (Html.BeginForm("GetUsers", "Home", FormMethod.Post, new { id = "sign" }))
    {
        <input type="hidden" name="accessToken" />
        
    }

    @if( ViewBag.name !=null)
    {
        @:Your name is @ViewBag.name <br />
        @:Your Id is @ViewBag.id
    }
}